<ng-container *ngIf='movieDetails$ | async as movieDetails; else loading'>
  <div class='row'>
    <div class='poster'>
      <lufthansa-task-poster [movieDetails]='movieDetails'></lufthansa-task-poster>

    </div>
    <div class='description'>
      <h1>{{movieDetails.name}}</h1>
      <p>{{movieDetails.genres.join(', ')}}</p>
      <p>Rating: {{movieDetails.rate}} / 10, Duration: {{movieDetails.length}}</p>
      <p>{{movieDetails.description}}</p>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <lufthansa-task-loader></lufthansa-task-loader>
</ng-template>
